.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 2rem;
}
.title {
    margin-right: 0.8rem;
    letter-spacing: 0.15rem;
    color: var(--text-color);
}

.code {
    color: var(--code-title-color);
}
@media all and (max-width: 1280px) {
    .container {
        font-size: 1.8rem;
    }
}
@media all and (max-width: 480px) {
    .container {
        font-size: 1.5rem;
    }
}
@media all and (max-width: 340px) {
    .container {
        font-size: 1.4rem;
    }
}
