.container {
    max-width: 1280px;
    width: 80%;
    height: auto;
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--input-background-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 10px 10px 10px rgba(8, 25, 30, 0.5);
}

.headerRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.headerColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.image {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}
.name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: var(--input-color);
}
.subTitle {
    font-size: 2rem;
    letter-spacing: 0.1rem;
}
@media all and (max-width: 1080px) {
    .container {
        width: 90%;
    }
}

@media all and (max-width: 680px) {
    .image {
        width: 7rem;
        height: 7rem;
    }
}
@media all and (max-width: 580px) {
    .container {
        padding: 1rem;
    }
    .headerRow {
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
}
@media all and (max-width: 530px) {
    .headerColumn {
        align-items: center;
    }
}
@media all and (max-width: 420px) {
    .name {
        font-size: 2rem;
    }
    .subTitle {
        font-size: 1.5rem;
    }
    .container {
        padding: 1rem;
    }
}
