.divider {
    border-left: 2px solid var(--name-letter-color);
}
.dividerHideMobile {
    border-left: 2px solid var(--name-letter-color);
}

@media all and (max-width: 780px) {
    .dividerHideMobile {
        display: none;
    }
}
