.container {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 100;
    background-color: var(--modal-backdrop-color);
    animation: reveal-backdrop 0.35s ease-in;
}
.closed {
    display: none;
}
.modal {
    position: relative;
    max-width: 1620px;
    width: 60%;
    height: 60vh;
    max-height: 80vh;
    z-index: 110;
    background: var(--modal-background-color);
    border-radius: 40px;
    padding: 1rem;
    animation: reveal-modal 0.35s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.contentColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    padding: 0 2rem;
}
.image {
    width: 100%;
    height: 15rem;
    max-height: 17rem;
    object-fit: contain;
}
@keyframes reveal-modal {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
@keyframes reveal-backdrop {
    from {
        background-color: var(--modal-backdrop-color-initial);
    }

    to {
        background-color: var(--modal-backdrop-color);
    }
}
@media all and (max-width: 1280px) {
    .modal {
        width: 80%;
        height: 70vh;
    }
}
@media all and (max-width: 980px) {
    .modal {
        width: 90%;
    }
}
@media all and (max-width: 780px) {
    .modal {
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        border-radius: 0;
    }
    .contentRow {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 3rem 0;
        gap: 3rem;
    }
    .contentColumn {
        gap: 3rem;
        height: 100%;
        padding: 0 1rem;
    }
    .image {
        height: 30vh;
        max-height: 30vh;
    }
}
