.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: auto;
    row-gap: 2rem;
    justify-items: start;
    align-items: start;
}
.title {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--input-color);
    line-height: 0;
}
