.container {
    max-width: 1280px;
    width: 80%;
    height: auto;
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--input-background-color);
    display: flex;
    flex-direction: row;
    gap: 10%;
    box-shadow: 10px 10px 10px rgba(8, 25, 30, 0.5);
}
.containerMiniApp {
    width: 90%;
    height: auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--input-background-color);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    box-shadow: 10px 10px 10px rgba(8, 25, 30, 0.5);
}
@media all and (max-width: 1080px) {
    .container {
        width: 90%;
    }
}
@media all and (max-width: 780px) {
    .container {
        flex-direction: column;
        gap: 3rem;
    }
}
@media all and (max-width: 420px) {
    .container {
        padding: 1rem;
    }
}
