.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: var(--code-title-color);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    bottom: 140%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltipText::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--code-title-color) transparent transparent transparent;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}
